.wrapper-full.header
	%header
		.wrapper
			%h1 PENGO
			%span 나를 위한 간편한 가계부
.wrapper-full
	%section
		%article
			.wrapper
				%h1 간단합니다
				%span 펭고는 모든 것을 귀찮아하는 개발자가 개발했습니다.
			.wrapper
				%h1 안전합니다
				%span 펭고는 
			.wrapper
				%h1 지금 사용해보세요!