.wrapper-full.header
	%header
		.wrapper
			%h1 PENGO
			%span 나를 위한 가계부
.wrapper-full
	%section
		%article
			.wrapper
				%h1 간단합니다
				%span 불편하게 일일히 입출금내역을 쓰지 마세요. 펭고는 은행 계좌의 거래 내역을 자동으로 정리해드립니다.
			.wrapper
				%h1 한 눈에 보세요
				%span 내가 언제 얼마나 어디에 썼는지 쉽게 알아볼 수 있습니다.
			.wrapper
				%h1 지출 계획을 체계적으로 관리해보세요
				%span 돈을 어떻게 써야 할지 예산을 손쉽게 구성할 수 있습니다.
			.wrapper
				%h1 지금 사용해보세요!
