.wrapper-full
	%header
		.wrapper
			%h1 Pengo
			%span 돈 관리, 이제는 불편하게 하지 마세요. 펭고만 있으면 되니까요!
	%section
		%article
			.wrapper
				%h1 간단합니다
				%span 펭고는 모든 것을 귀찮아하는 개발자가 개발했습니다.
			.wrapper
				%h1 안전합니다
				%span 펭고는 
			.wrapper
				%h1 지금 사용해보세요!