.dashboard {
	background-color: #FFF;
	color: #000;
	margin: 0;
}

.dashboard h1 {
	margin: 0;
}

span.inout {
	font-size: 3em;
}

span.income {
	color: green;
}

span.expense {
	color: red;
}

header.menu {
	max-width: 100%;
	background-color: #F2F2F2;
	padding: 1em;
	margin-bottom: 1em;
}

.menu-wrapper {
	max-width: 820px;
	margin: 0 auto;
}

.menu ul {
	margin: 0;
	padding: 0;
	font-size: 1.55em;

}

.menu ul li {
	list-style-type: none;
	display: inline;
}

li.right {
	float:right;
	margin: 0 0.5em;
}

.dashboard {
	width: 100%;
}

.dashboard-wrapper {
	max-width: 820px;
	padding: 0 1em;
	margin: auto;
}

.notice {
	padding: 0.5em;
	background-color: #86B298;
	color: #FFF;
	border: 2.5px solid #63997A;
	border-radius: 3px;
	margin: 0 0 1.5em 0;
}

.notice h1 {
	width: 100%;
	font-size: 1em;
	display: inline;
}

span.update {
	display: inline;
	float: right;
}

table {
	width:100%;
	margin: 1.5em 0;
	text-align: center;
}

tr {
	border: 1px solid silver;
}
td {
	border: 1px solid silver;
}
th {
	border: 1px solid silver;
}

a {
	color: #FFF;
	text-decoration: none;
}

.selected a {
	border-bottom: 2px solid #D92A24;
}

.right a:hover {
	border-bottom: 2px solid #E5846E;

}

.last-update {
	width: 100%;
	display: block;
	text-align: center;
	padding: 5px;
	color: #000;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.update a {
	color: #FFF;
}
