@import url(https://fonts.googleapis.com/css?family=Lato);

body {

}

.wrapper-full.header {
	background-position: center;
	background-size: cover;
	padding-bottom: 10em;

}

.wrapper-full.header {
	padding: 10em 0;
}

.wrapper-full.header h1 {
	padding: 0;
	font-size: 7em;
	background-color: #000;
	color: #FFF;
}

.wrapper-full {
  width: 100%;
  background-color: #FFF;
  color: #000;

}

.wrapper-full h1 {
	padding: 1em 0;
	margin: 0;
	font-size: 5em;
	font-family: "Lato", sans-serif;
}

header .wrapper span {
	color: #000;
	padding: 2em 0;
	font-size: 3em;
	display: inline-block;
}

header .wrapper {
	max-width: 500px;
	margin:auto;
	text-align: center;
	color: #000;
}

article .wrapper {
	max-width: 720px;
	margin: auto;
}

article .wrapper h1 {
	font-size: 2.5em;
}

footer {
	width: 100%;
	padding-bottom: 10px;
	font-size: 15px;
	font-family: "Lato", sans-serif;
	text-align: center;
}
footer span a {
	font-color: #654587;
}
