.list {
	padding: 0;
}

.list li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a span {
	color: #000;
}
.decrypt-button {
	width: 3.8em;
	padding: 0.2em;
	margin: auto;
	background-color: #FFF;
}

.decrypt {
	width: 100%;
	background-color: #333;
}

li.right a {
	color: #000;
}

a {
	color: #FFF;
}