%header.menu
	%ul
		%li Pengo
		%li.right 
			%a{:href=>"/profile"} 프로필
		%li.right 내역
		%li.right 
			%a{:href=>"/dashboard"} 개요
.dashboard
	.dashboard-wrapper
		%h1 계좌
		%ul.list
			%li 신한은행
			%li 국민은행
			%li 기업은행
			%li 
				%a{:href=>"/profile/update"} 계좌추가