<!DOCTYPE html>
<html>
<head>
  <title>Pengo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<footer>
	<span>PENGO by <a href="http://github.com/sookcha/">HO-SEONG SON</a></span>
</footer>
</body>
</html>
